In [2]:
import pandas as pd 
import pathlib as path

In [6]:
data = pd.read_csv('combined_top10.csv')
data

,id,title,originalTitle,fullTitle,type,year,image,releaseDate,runtimeMins,runtimeStr,...,imDbRating,imDbRatingVotes,metacriticRating,ratings,images,boxOffice,keywords,keywordList,similars,errorMessage
0,tt0499549,Avatar,NaN,Avatar (2009),Movie,2009,https://m.media-amazon.com/images/M/MV5BZDA0OG...,2009-12-18,162,2h 42min,...,7.9,1353300,83,"{'imDbId': 'tt0499549', 'title': 'Avatar', 'fu...","{'imDbId': 'tt0499549', 'title': 'Avatar', 'fu...","{'budget': '$237,000,000 (estimated)', 'openin...","paraplegic,spiritualism,marine,future,forest p...","['paraplegic', 'spiritualism', 'marine', 'futu...","[{'id': 'tt1630029', 'title': 'Avatar: The Way...",NaN
1,tt4154796,Avengers: Endgame,NaN,Avengers: Endgame (2019),Movie,2019,https://m.media-amazon.com/images/M/MV5BMTc5MD...,2019-04-26,181,3h 1min,...,8.4,1194755,78,"{'imDbId': 'tt4154796', 'title': 'Avengers: En...","{'imDbId': 'tt4154796', 'title': 'Avengers: En...","{'budget': '$356,000,000 (estimated)', 'openin...","time travel,superhero,super villain,cosmic,mar...","['time travel', 'superhero', 'super villain', ...","[{'id': 'tt4154756', 'title': 'Avengers: Infin...",NaN
2,tt0120338,Titanic,NaN,Titanic (1997),Movie,1997,https://m.media-amazon.com/images/M/MV5BMDdmZG...,1997-12-19,194,3h 14min,...,7.9,1228672,75,"{'imDbId': 'tt0120338', 'title': 'Titanic', 'f...","{'imDbId': 'tt0120338', 'title': 'Titanic', 'f...","{'budget': '$200,000,000 (estimated)', 'openin...","iceberg,love affair,drowning,sunken ship,violence","['iceberg', 'love affair', 'drowning', 'sunken...","[{'id': 'tt0499549', 'title': 'Avatar', 'image...",NaN
3,tt2488496,Star Wars: Episode VII - The Force Awakens,NaN,Star Wars: Episode VII - The Force Awakens (2015),Movie,2015,https://m.media-amazon.com/images/M/MV5BOTAzOD...,2015-12-18,138,2h 18min,...,7.8,951539,80,"{'imDbId': 'tt2488496', 'title': 'Star Wars: E...","{'imDbId': 'tt2488496', 'title': 'Star Wars: E...","{'budget': '$245,000,000 (estimated)', 'openin...","crash landing,reboot,actor reprises previous r...","['crash landing', 'reboot', 'actor reprises pr...","[{'id': 'tt2527336', 'title': 'Star Wars: Epis...",NaN
4,tt4154756,Avengers: Infinity War,NaN,Avengers: Infinity War (2018),Movie,2018,https://m.media-amazon.com/images/M/MV5BMjMxNj...,2018-04-27,149,2h 29min,...,8.4,1124042,68,"{'imDbId': 'tt4154756', 'title': 'Avengers: In...","{'imDbId': 'tt4154756', 'title': 'Avengers: In...","{'budget': '$321,000,000 (estimated)', 'openin...","superhero,death of recurring character,supervi...","['superhero', 'death of recurring character', ...","[{'id': 'tt4154796', 'title': 'Avengers: Endga...",NaN
5,tt0369610,Jurassic World,NaN,Jurassic World (2015),Movie,2015,https://m.media-amazon.com/images/M/MV5BNzQ3OT...,2015-06-12,124,2h 4min,...,6.9,661121,59,"{'imDbId': 'tt0369610', 'title': 'Jurassic Wor...","{'imDbId': 'tt0369610', 'title': 'Jurassic Wor...","{'budget': '$150,000,000 (estimated)', 'openin...","dinosaur,velociraptor,theme park,disaster film...","['dinosaur', 'velociraptor', 'theme park', 'di...","[{'id': 'tt4881806', 'title': 'Jurassic World:...",NaN
6,tt0848228,The Avengers,NaN,The Avengers (2012),Movie,2012,https://m.media-amazon.com/images/M/MV5BNDYxNj...,2012-05-04,143,2h 23min,...,8.0,1423093,69,"{'imDbId': 'tt0848228', 'title': 'The Avengers...","{'imDbId': 'tt0848228', 'title': 'The Avengers...","{'budget': '$220,000,000 (estimated)', 'openin...","superhero,marvel cinematic universe,avengers,a...","['superhero', 'marvel cinematic universe', 'av...","[{'id': 'tt2395427', 'title': 'Avengers: Age o...",NaN
7,tt0848228,The Avengers,NaN,The Avengers (2012),Movie,2012,https://m.media-amazon.com/images/M/MV5BNDYxNj...,2012-05-04,143,2h 23min,...,8.0,1423093,69,"{'imDbId': 'tt0848228', 'title': 'The Avengers...","{'imDbId': 'tt0848228', 'title': 'The Avengers...","{'budget': '$220,000,000 (estimated)', 'openin...","superhero,marvel cinematic universe,avengers,a...","['superhero', 'marvel cinematic universe', 'av...","[{'id': 'tt2395427', 'title': 'Avengers: Age o...",NaN
8,tt2820852,Furious 7,Fast & Furious 7,Furious 7 (2015),Movie,2015,https://m.media-amazon.com/images/M/MV5BMTQxOT...,2015-04-03,137,2h 17min,...,7.1,403216,67,"{'imDbId': 'tt2820852', 'title': 'Furious 7', ...","{'imDbId': 'tt2820852', 'title': 'Furious 7', ...","{'budget': '$190,000,000 (estimated)', 'openin...","revenge,car falling off a cliff,hospital,star ...","['revenge', 'car falling off a cliff', 'hospit...","[{'id': 'tt1905041', 'title': 'Fast & Furious ...",NaN
9,tt4520988,Frozen II,NaN,Frozen II (2019),Movie,2019,https://m.media-amazon.com/images/M/MV5BMjA0Yj...,2019-11-22,103,1h 43min,...,6.8,182933,64,"{'imDbId': 'tt4520988', 'title': 'Frozen II', ...","{'imDbId': 'tt4520988', 'title': 'Frozen II', ...","{'budget': '$150,000,000 (estimated)', 'openin...","autumn,anthropomorphic snowman,female protagon...","['autumn', 'anthropomorphic snowman', 'female ...","[{'id': 'tt2294629', 'title': 'Frozen', 'image...",NaN